@using SQTJobPortal.Models
@model User
@{
    Layout = null;
}
@{
    IEnumerable<ViewModel> viewModels = ViewData["Jointable"] as IEnumerable<ViewModel>;

}

@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To Company Index</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/admin/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/admin/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/admin/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
          
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/anonim-foto.png"  width="48" height="48" alt="User"/>
                  
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome  @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name:"Guest") !</div>
                    <div class="email">@Model.Email</div>
                 
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">

                    @if (User.Identity.IsAuthenticated)

                    {

                        <li class="header">Home Page</li>
                        <li class="active">
                            <a href="/Account/Index/@Model.SeekerId">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/User/CompanyProfile/@Model.SeekerId">
                                <i class="material-icons">person</i> <span>Profile</span>
                            </a>
                        </li>


                        <li>
                            <a href="/User/JobAdversiments/@Model.SeekerId">
                                <i class="material-icons">assignment</i> <span>Job Adversiments</span>
                            </a>
                        </li>

                        <li>
                            <a href="/User/Create/@Model.SeekerId">
                                <i class="material-icons">add </i> <span>  Create Job</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("SignOut","Account")">
                                <i class="material-icons">close  </i> <span> Sign Out</span>
                            </a>
                        </li>
                    }

                </ul>>
            </div>

       
            
    <!-- #Footer -->
</aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
      
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">JOBS COUNT</div>
                            @{var count = 0; }

                            @foreach (ViewModel viewModel in viewModels)
                            {
                                if (Model.Job.Count >= 0)
                                {

                                    count++;
                                }

                            }
                            
                            <div class="number count-to" data-from="0" data-to=@count data-speed="15" data-fresh-interval="20">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">WAITING REQUESTS</div>
                            @{var countt = 0; }

                            @foreach (ViewModel viewModel in viewModels)
                            {
                                if (Model.Job.Count >= 0)
                                {
                                    if (viewModel.request.IsActive == null)
                                    {

                                        countt++;
                                    }
                                }

                            }
                            <div class="number count-to" data-from="0" data-to="@countt" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">ANSWERED REQUESTS </div>
                            @{var counttt = 0; }

                            @foreach (ViewModel viewModel in viewModels)
                            {
                                if (Model.Job.Count >= 0)
                                {
                                    if (viewModel.request.IsActive != null)
                                    {

                                        counttt++;
                                    }
                                }

                            }
                            <div class="number count-to" data-from="0" data-to="@counttt" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">ALL REQUESTS</div>
                            @{var countttt = 0; }

                            @foreach (ViewModel viewModel in viewModels)
                            {
                                if (Model.Job.Count >= 0)
                                {
                                    if (viewModel.request != null)
                                    {

                                        countttt++;
                                    }
                                }

                            }
                            <div class="number count-to" data-from="0" data-to="@countttt" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
            <!-- #END# CPU Usage -->
            <div class="row clearfix">
                <!-- Visitors -->
                <!-- #END# Visitors -->
                <!-- Latest Social Trends -->
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-left:270px">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">TODAYS AGENDA</div>
                        
                            <ul class="dashboard-stat-list">
                              
                             

                                <li>
                                    @{var counts = 0; }


                                    @foreach (ViewModel viewModel in viewModels)
                                    {
                                        if(Model.SeekerId==viewModel.companies.SeekerId)
                                        {

                                            if (viewModel.request.ApplyDate == DateTime.Today)
                                            {

                                                counts++;
                                            }
                                        }

                                    }
                                    TODAY
                                    <span class="pull-right"><b>@counts</b> <small>USERS</small></span>
                                </li>
                                <li>

                                    @{var countss = 0; }


                                    @foreach (ViewModel viewModel in viewModels)
                                    {
                                       
                                            if (viewModel.request.ApplyDate == DateTime.Today.AddDays(-1))
                                            {

                                                countss++;
                                            }
                                        

                                    }
                                    YESTERDAY
                                    <span class="pull-right"><b>@countss</b> <small>USERS</small></span>
                                </li>
                                <li>
                                    @{var countsss = 0; }

                                    @foreach (ViewModel viewModel in viewModels)
                                    {
                                       

                                            if (viewModel.request.ApplyDate < DateTime.Today.AddDays(+8))
                                            {

                                                countsss++;
                                            }


                                        
                                    }
                                    LAST WEEK
                                    <span class="pull-right"><b>@countsss</b> <small>USERS</small></span>
                                </li>
                             
                            </ul>

                                
                                </div>
                    </div>
                </div>
                @*<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-pink">
                            <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                                 data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                                 data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                                 data-fill-Color="rgba(0, 188, 212, 0)">
                                REQUATORS
                            </div>
                            <ul class="dashboard-stat-list">
                                <li>
                                    TODAY
                                    <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                                </li>
                                <li>
                                    YESTERDAY
                                    <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                                </li>
                                <li>
                                    LAST WEEK
                                    <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@
                <!-- #END# Latest Social Trends -->
                <!-- Answered Tickets -->
                <!-- #END# Answered Tickets -->
            </div>

            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-14 col-sm-14 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>SEE LAST JOB ADVERSITEMENTS</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">


                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Category</th>
                                            <th>Country</th>
                                            <th>Salary</th>
                                            <th>Posted Date</th>
                                            <th>Due Date</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var temp = 0; }
                                        @foreach (ViewModel viewModel in viewModels)
                                        {
                                            if (viewModel.jobs.PostedDate >= DateTime.Now.AddDays(-100) && viewModel.jobs.JobId != temp && Model.SeekerId == viewModel.companies.SeekerId)
                                            {
                                                <tr>
                                                    <td><a href="/User/JobDetails/@viewModel.jobs.JobId"></a>@viewModel.jobs.Title</td>

                                                    @if (Convert.ToInt32(viewModel.jobs.IsActive) == 0)
                                                    {
                                                        <td><span class="label bg-red">Not Active</span></td>

                                                    }
                                                    else
                                                    {
                                                        <td><span class="label bg-green">Active</span></td>

                                                    }


                                                    <td> @viewModel.jobs.Category.CategoryName</td>
                                                    <td><i class="fas fa-map-marker-alt"></i>@viewModel.jobs.User.Country.CountryName</td>
                                                    <td> @viewModel.jobs.Salary </td>
                                                    <td> @String.Format("{0:dd/MM/yyyy}", viewModel.jobs.PostedDate) </td>
                                                    <td> @viewModel.jobs.DueToApply </td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                                        </div>
                                                    </td>
                                                    <td> <a href="/User/JobAdversiment/@Model.SeekerId">See details</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->

            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/admin/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/admin/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/admin/plugins/raphael/raphael.min.js"></script>
    <script src="~/admin/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/admin/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/admin/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/admin/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/admin/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/admin/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/admin/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/admin/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="~/admin/js/admin.js"></script>
    <script src="~/admin/js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="~/admin/js/demo.js"></script>
</body>

</html>