@model SQTJobPortal.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = null;
}

<h2>SignUp</h2>

<div class="container py-5">
    <div class="card rounded-0 col-md-6">
        <div class="card-header">
            <h3 class="mb-0">Sign Up</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">



                    <fieldset>
                        Account Type
                        <select id="AccountType" name="AccountType">

                            <option value=""></option>

                            <option value="0">Company</option>

                            <option selected="selected" value="1">Job Seeker</option>


                        </select>

                    </fieldset>
                    @Html.ValidationMessageFor(model => model.AccountType)
                </div>
                <button type="submit" class="btn btn-primary float-right rounded-0">Sign Up</button>
                <div>
                    @Html.ActionLink("Login", "Login", "Account")
                </div>
            }
        </div>
    </div>
</div>