@model SQTJobPortal.Models.ViewModel2
@{
    Layout = null;
}


@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>JOB ADVERSITEMENT</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="~/admin/css/clicker.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/admin/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/admin/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/admin/css/themes/all-themes.css" rel="stylesheet" />


</head>

<body class="theme-red">
    <!-- Page Loader -->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">

        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/anonim-foto.png" width="48" height="48" alt="User" />

                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome  @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name:"Guest") !</div>
                    <div class="email">@Model.companies.Email</div>

                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">

                    @if (User.Identity.IsAuthenticated)

                    {

                        <li class="header">Home Page</li>
                        <li class="active">
                            <a href="/Account/Index/@Model.companies.SeekerId">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/User/CompanyProfile/@Model.companies.SeekerId">
                                <i class="material-icons">person</i> <span>Profile</span>
                            </a>
                        </li>


                        <li>
                            <a href="/User/JobAdversiments/@Model.companies.SeekerId">
                                <i class="material-icons">assignment</i> <span>Job Adversiments</span>
                            </a>
                        </li>

                        <li>
                            <a href="/User/Requests/@Model.companies.SeekerId">
                                <i class="material-icons">find_replace</i> <span>Requests</span>
                            </a>
                        </li>


                        <li>
                            <a href="/User/Create/@Model.companies.SeekerId">
                                <i class="material-icons">add </i> <span>  Create Job</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("SignOut","Account")">
                                <i class="material-icons">close  </i> <span> Sign Out</span>
                            </a>
                        </li>
                    }

                </ul>>
            </div>



            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    CREATE JOB
                    <small>with your dreams</small>
                </h2>
            </div>
            <!-- Input -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Simple Job Application Form

                            </h2>
                            <h3 style="color:red">@TempData["fail"]</h3>
                            <div class="body">


                                @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)
                                    <h2 class="card-inside-title">COMPANY NAME</h2>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="Name" value="@Model.companies.Name" placeholder="Please enter the title" readonly="readonly" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <h2 class="card-inside-title">JOB TITLE</h2>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="Title" id="Title" placeholder="Please enter the title" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>




                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h2>Description</h2>

                                                </div>
                                                <div class="body">
                                                    <h2 class="card-inside-title">Basic Example</h2>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <textarea rows="4" class="form-control no-resize" name="Description" id="Description" placeholder="Please type the description for job..."></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <h2 class="card-inside-title">EXPERIENCES</h2>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="Experience" id="Experience" placeholder="Please enter experience year" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h2>
                                                        APPLY  DATE

                                                    </h2>

                                                </div>
                                                <div class="body">
                                                    <div class="row clearfix">
                                                        <div class="col-xs-12">
                                                            <h2 class="card-inside-title">START DATE</h2>
                                                            <div class="form-group">
                                                                <div class="form-line" id="bs_datepicker_container">
                                                                    <input type="text" class="form-control" name="PostedDate" id="PostedDate" placeholder="Please choose a date for begin...">
                                                                </div>
                                                            </div>
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">date_range</i>
                                                            </span>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h2>
                                                        DUE  DATE

                                                    </h2>

                                                </div>
                                                <div class="body">
                                                    <div class="row clearfix">


                                                        <div class="col-xs-12">
                                                            <h2 class="card-inside-title">DUE DATE</h2>
                                                            <div class="form-group">
                                                                <div class="form-line" id="bs_datepicker_container">
                                                                    <input type="text" class="form-control" name="DueToApply" id="DueToApply" placeholder="Please choose a date for end...">
                                                                </div>
                                                            </div>
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">date_range</i>
                                                            </span>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h2 class="card-inside-title">SALARY & JOB TYPE</h2>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="Salary" id="Salary" placeholder="Enter the salary" />
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="row clearfix">
                                        
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="JobType" id="JobType" placeholder="Enter the Job Type" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h2>
                                                        SELECT CATEGORY & PROFESSION

                                                    </h2>

                                                </div>
                                                <div class="body">
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">

                                                                <div class="col-md-10">

                                                                    <div class="col-md-10">
                                                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.jobs.CategoryId, "", new { @class = "text-danger" })
                                                                    </div>







                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">

                                                                <div class="col-md-10">
                                                                    <fieldset>
                                                               

                                                                        <div class="col-md-10">
                                                                            @Html.DropDownList("ProfessionId", null, htmlAttributes: new { @class = "form-control" })
                                                                            @Html.ValidationMessageFor(model => model.jobs.ProfessionId, "", new { @class = "text-danger" })
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.HiddenFor(x => x.users.SeekerId)
                                    <div class="form-group">

                                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                                        <input type="submit" value="CREATE" class="btn btn-danger waves-effect" style="width:100%" />

                                    </div>


                                </div>

                                }

                                   
                            </div>

                                
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/admin/plugins/node-waves/waves.js"></script>

    <!-- Autosize Plugin Js -->
    <script src="~/admin/plugins/autosize/autosize.js"></script>

    <!-- Moment Plugin Js -->
    <script src="~/admin/plugins/momentjs/moment.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="~/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!-- Custom Js -->
    <script src="~/admin/js/admin.js"></script>
    <script src="~/admin/js/pages/forms/basic-form-elements.js"></script>

    <!-- Demo Js -->
    <script src="~/admin/js/demo.js"></script>
   
 </body>