@using SQTJobPortal.Models
@model User
@{
    Layout = null;
}
@{
    IEnumerable<ViewModel> viewModels = ViewData["Jointable"] as IEnumerable<ViewModel>;

}

@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To Company Index</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="~/admin/css/clicker.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/admin/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/admin/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/admin/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">

        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/anonim-foto.png" width="48" height="48" alt="User" />

                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome  @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name:"Guest") !</div>
                    <div class="email">@Model.Email</div>

                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">

                    @if (User.Identity.IsAuthenticated)

                    {

                        <li class="header">Home Page</li>
                        <li class="active">
                            <a href="/Account/Index/@Model.SeekerId">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/User/CompanyProfile/@Model.SeekerId">
                                <i class="material-icons">person</i> <span>Profile</span>
                            </a>
                        </li>


                        <li>
                            <a href="/User/JobAdversiments/@Model.SeekerId">
                                <i class="material-icons">assignment</i> <span>Job Adversiments</span>
                            </a>
                        </li>
                        <li>
                            <a href="/User/Requests/@Model.SeekerId">
                                <i class="material-icons">find_replace</i> <span>Requests</span>
                            </a>
                        </li>


                        <li>
                            <a href="/User/Create/@Model.SeekerId">
                                <i class="material-icons">add </i> <span>  Create Job</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("SignOut","Account")">
                                <i class="material-icons">close  </i> <span> Sign Out</span>
                            </a>
                        </li>
                    }

                </ul>>
            </div>



            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <!-- #END# Right Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    JOBS TABLE
                   
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                PROCESS TABLE
                            </h2>
                          
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Category</th>
                                            <th>Profession</th>
                                            <th>Country</th>
                                            <th>Salary</th>

                                            <th>Due Date</th>
                                            <th>Description</th>
                                            <th>Skills</th>
                                            <th>Experience</th>

                                            <th>Edit</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{var temp = 0; }
                                        @foreach (ViewModel viewModel in viewModels)
                                        {
                                            if (viewModel.jobs.JobId != temp && Model.SeekerId == viewModel.companies.SeekerId)
                                            {
                                                <tr>
                                                    <td>#</td>
                                                    <td><a href="/User/JobDetails/@viewModel.jobs.JobId"></a>@viewModel.jobs.Title</td>

                                                    @if (Convert.ToInt32(viewModel.jobs.IsActive) == 0)
                                                    {
                                                        <td><span class="label bg-red">Not Active</span></td>

                                                    }
                                                    else
                                                    {
                                                        <td><span class="label bg-green">Active</span></td>

                                                    }


                                                    <td> @viewModel.jobs.Category.CategoryName</td>

                                                    <td> @viewModel.jobs.Professions.ProfessionName </td>
                                                    <td><i class="fas fa-map-marker-alt"></i>@viewModel.jobs.User.Country.CountryName</td>
                                                    <td> @viewModel.jobs.Salary </td>
                                                    <td> @String.Format("{0:dd/MM/yyyy}", viewModel.jobs.DueToApply) </td>



                                                    <td>
                                                        <div class="clicker" tabindex="1" style="width:240px">Click for Description</div>
                                                        <div class="hiddendiv">@viewModel.jobs.Description</div>
                                                    </td>

                                                    <td>
                                                        <div class="clicker" tabindex="1">Click for Skills</div>
                                                        <div class="hiddendiv">@viewModel.jobs.JobSkills</div>
                                                    </td>
                                                
                                                    <td>
                                                        <div class="clicker" tabindex="1">Click for Experiences</div>
                                                        <div class="hiddendiv">@viewModel.jobs.Experience</div>
                                                    </td>
                                                    <td>
                                                        <div class="progress" style="margin-left:20px">
                                                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 35%" >
                                                                <a href="/User/JobEdit/@viewModel.jobs.JobId"><i class="material-icons" style="color:deepskyblue">extension</i></a>


                                                            </div>
                                                            <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 35%; margin-left: 18px">
                                                                <a href="/User/DeleteJob/@viewModel.jobs.JobId"><i class="material-icons" style="color:deeppink">report_problem</i></a>


                                                            </div>
                                                           
                                                        </div>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Category</th>
                                            <th>Profession</th>
                                            <th>Country</th>
                                            <th>Salary</th>

                                            <th>Due Date</th>
                                            <th>Description</th>
                                            <th>Skills</th>
                                            <th>Experience</th>

                                            <th>Edit</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <!-- Jquery Core Js -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/admin/plugins/node-waves/waves.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="~/admin/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="~/admin/js/admin.js"></script>
    <script src="~/admin/js/pages/tables/jquery-datatable.js"></script>

    <!-- Demo Js -->
    <script src="~/admin/js/demo.js"></script>
</body>

</html>